/* Coomon Shared Style */
body{
    font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    font-weight: 700px;
}

/* nav related style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    color: #181818;
font-size: 45px;
font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header related style */
.header{
    background-color: #FFF8F3;
}
/* Banner related Style */
.banner{
    padding: 30px 30px 30px 150px ;
    display: flex;
    align-items: center;
}
.banner .profile-picture{
    width: 400px;
}